# Core dependencies

colossalai>=0.4.1
torch==2.2.2 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.17.2 --index-url https://download.pytorch.org/whl/cu121
xformers==0.0.25.post1 --index-url https://download.pytorch.org/whl/cu121
torchaudio
numpy>=1.22.0
Pillow>=9.0.0
rotary_embedding_torch==0.5.3
diffusers==0.29.0 # for vae
pandarallel

# vae
beartype==0.18.5
einops==0.8.0
einops-exts==0.0.4
opencv-python==4.9.0.80
pillow==10.3.0


# Testing frameworks
pytest>=7.3.1
pytest-xdist>=3.3.1  # For parallel testing

# Progress tracking
tqdm>=4.64.0

# Optional dependencies for visualization and data handling
matplotlib>=3.7.0  # For plotting test results
h5py>=3.8.0  # For reading HDF5 files

# For OpenSora model registry
mmengine>=0.7.3

# For testing with real hardware
pytest-benchmark>=4.0.0  # Optional: for performance testing

wandb
tensorboard>=2.14.0
pyarrow>=16.1.0 # for parquet